html{
    background-image: linear-gradient(
  320deg,
  hsl(340deg 93% 83%) 0%,
  hsl(333deg 100% 81%) 16%,
  hsl(325deg 100% 78%) 24%,
  hsl(318deg 100% 76%) 30%,
  hsl(311deg 99% 73%) 35%,
  hsl(302deg 86% 69%) 40%,
  hsl(295deg 82% 64%) 45%,
  hsl(289deg 83% 60%) 50%,
  hsl(283deg 85% 56%) 55%,
  hsl(277deg 87% 52%) 60%,
  hsl(273deg 90% 50%) 65%,
  hsl(268deg 93% 50%) 70%,
  hsl(263deg 95% 50%) 76%,
  hsl(255deg 97% 51%) 84%,
  hsl(237deg 100% 50%) 100%
);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: "Comic Sans MS";
    src: url('./fonts/COMICSANS.TTF');
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
img{
    width: 70%;
    height: 65%;
    justify-content: center;
    border-radius: 5px;
}
.container{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh;
    font-size: 15px;
}
.iframe{
    width: 35vh;
    height: 30vh;
    float: left;
    background-color: #f1f1f1;
}
.insta_widget
{
    width: 35vh;
    height: 30vh;
    background-color:brown;
    float: right;
}
@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }
div.visitors{
    background-color: gray;
    width: 20vh;
    margin: auto;
    border-radius: 5px;
    background-image: linear-gradient(
  320deg,
  hsl(340deg 93% 83%) 0%,
  hsl(333deg 100% 81%) 16%,
  hsl(325deg 100% 78%) 24%,
  hsl(318deg 100% 76%) 30%,
  hsl(311deg 99% 73%) 35%,
  hsl(302deg 86% 69%) 40%,
  hsl(295deg 82% 64%) 45%,
  hsl(289deg 83% 60%) 50%,
  hsl(283deg 85% 56%) 55%,
  hsl(277deg 87% 52%) 60%,
  hsl(273deg 90% 50%) 65%,
  hsl(268deg 93% 50%) 70%,
  hsl(263deg 95% 50%) 76%,
  hsl(255deg 97% 51%) 84%,
  hsl(237deg 100% 50%) 100%
);
  }